@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #1C0F0B;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

  color: #F8E1DA;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
